body {
  background-color: #ffffff;
}
p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
  margin-left: 3rem;
}
.illustration {
  height: 200px;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid red;
  border-right: 3px solid rgb(2, 2, 92);
  border-radius: 0px 10px 10px 00px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-left: 15px red solid;
  grid-area:img;
  /* animation: fadeIn 2s ease-in-out;
  animation-timeline: view(); */
}
#active {
  color: red;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  position:sticky;
  top: 0;
  border-bottom: 3px solid red;
}
.logo {
  width: 50%;
}
.logo img {
  width: 10rem;
  margin-left: 10px;
}
.nav {
  display: flex;
  width: 25%;
  right: 30px;
  column-gap: 30px;
}
a {
  color: rgb(2, 2, 92);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.3s;
}
a:hover {
  color: red;
  transform: translateY(3px);
}

main {
  display: grid;
  padding: 20px;
  justify-items: center;
}
main .presentation,
h3 {
  display: grid;
  justify-items: center;
  gap: 20px;
}
main h3 {
  color: rgb(2, 2, 92);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.8rem;
  justify-items: center;
}
main h2 {
  color: rgb(2, 2, 92);
  font-size: 1.9rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 80%;
  text-align: center;
}
.devWebMobile,
.uiUX,
.graphIdVisuel {
  display: grid;
  justify-items: center;
  margin-top: 3px;
  margin-bottom: 30px;
  margin-left: 20px;
  width: 90%;
  grid-template-rows:1fr 1fr 1fr;
  grid-template-columns:1fr 1fr;
  grid-template-areas:
    "h5 h5"
    "p img"
    "btn btn"
  ;
}
#container {
  display: flex;
  justify-items: center;
  gap: 10px;
}
.devWebMobile h5,
.graphIdVisuel h5,
.val-container h5,
.uiUX h5{
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.8rem;
  color: red;
  padding-left: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  grid-area:h5;
}
.devWebMobile p,
.uiUX p,
.graphIdVisuel p,
.choice p,
.projects p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  padding: 10px;
  margin-left: 20px;
  margin-top: 5px;
}
#btn {
  text-align: center;
  margin: 80px;
  padding: 15px 50px;
  font-size: 1.3rem;
  color: white;
  background-color: rgb(2, 2, 92);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  grid-area:btn;
}
#btn:hover {
  background-color: red;
  transform: translateY(-3px);
}
.val-container {
  display: grid;
  justify-items: start;
  margin-top: 3px;
  margin-bottom: 30px;
  margin-left: 90px;
  width: 90%;
  border-right: 3px solid rgb(2, 2, 92);
  border-radius: 0px 10px 10px 00px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-left: 15px red solid;
}
footer {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  margin-top: 30px;
  border-top: 3px solid rgb(2, 2, 92);
}
.foot {
  display: flex;
  gap: 10px;
  margin-right: 20px;
  margin-top: 20px;
}
span {
  border-left: 2px solid rgb(2, 2, 92);
}
footer a:hover {
  color: red;
}
footer p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: rgb(2, 2, 92);
  font-size: 1.2rem;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@mesia screen and (max-width:480px) {
 body {
    width: 80%;
  }
  p {
    font-size: 1.1rem;
    margin-left: 0.5rem;
  }
  span {
    display: grid;
  }
  header {
    width: 100%;
    height: auto;
    padding: 10px 0;
    gap: 10px;
  }
  .nav {
    display: none;
  }
  .devWebMobile,
  .uiUX,
  .graphIdVisuel,
  .val-container {
    display: grid;
    margin-left: 5px;
    width: 70%;
  }
  .illustration {
    display: none;
  }
  main {
    margin: 0;
  }
  main h3 {
    font-size: 1.3rem;
  }
  .devWebMobile h5,
  .graphIdVisuel h5,
  .val-container h5,
  .uiUX h5 {
    margin-left: 5px;
    font-size: 1.1rem;
  }
  .devWebMobile p,
  .uiUX p,
  .graphIdVisuel p,
   {
    font-size: 1rem;
    margin-left: 5px;
    width: 40%;
  }
  .choice p,
  .projects p {
    font-size: 1.1rem;
    margin-left: 5px;
    width:85%;
  #btn {
    margin: 30px 5px;
    padding: 8px 10px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
    footer{
      display:grid;
    }
  .foot {
    gap: 15px;
    display: grid;
  }
  .foot a {
    font-size: 0.9rem;
  }
  footer p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  body {
    width: 90%;
  }
  p {
    font-size: 1.2rem;
    margin-left: 1rem;
  }
  span {
    display: grid;
  }
  p {
    font-size: 1.2rem;
    margin-left: 1rem;
  }
  header {
    width: 100%;
    height: auto;
    padding: 10px 0;
    gap: 10px;
  }
  .nav {
    display: none;
  }
  .devWebMobile,
  .uiUX,
  .graphIdVisuel,
  .val-container {
    display: grid;
    margin-left: 5px;
    width: 70%;
  }
  .illustration {
    display: none;
  }
  main {
    margin: 0;
  }
  main h3 {
    font-size: 1.5rem;
  }
  .devWebMobile h5,
  .graphIdVisuel h5,
  .val-container h5,
  .uiUX h5 {
    margin-left: 5px;
    font-size: 1.1rem;
  }
  .devWebMobile p,
  .uiUX p,
  .graphIdVisuel p,
   {
    font-size: 1.1rem;
    margin-left: 8px;
    width: 40%;
  }
  .choice p,
  .projects p {
    font-size: 1.1rem;
    margin-left: 8px;
    width:85%;
  #btn {
    margin: 30px 5px;
    padding: 8px 10px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
    footer{
      display:grid;
    }
  .foot {
    gap: 20px;
    display: grid;
  }
  .foot a {
    font-size: 0.9rem;
  }
  footer p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  p {
    font-size: 1.1rem;
  }
  .nav {
    gap: 15px;
    width: 30%;
  }
  .devWebMobile,
  .uiUX,
  .graphIdVisuel,
  .val-container {
    display:grid;
    margin-left: 10px;
    width: 90%;
  }
  .devWebMobile h5,
  .graphIdVisuel h5, 
  .uiUX h5{
    font-size: 1.3rem;
  }
  .devWebMobile p,
  .uiUX p,
  .graphIdVisuel p {
    font-size: 1.2rem;
    margin-left: 8px;
    width: 59%;
  }
  .choice p,
  .projects p {
    font-size: 1.2rem;
    margin-left: 8px;
    width:85%;
  }
  .illustration {
    height: 200px;
    width: 300px;
  }
  #btn {
    margin: 40px 5px;
    padding: 10px 20px;
    font-size: 1.1rem;
  }
  footer{
    display:grid;
  }
  .foot {
    gap: 20px;
    display: grid;
  }
  .foot a {
    font-size: 0.9rem;
  }
  footer p {
    font-size: 1rem;
  }
}


















